<%- include('./partials/header.ejs')%>
    <h1>Edit <%= recipe.name %></h1>
    <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
        <section class="form-group row">
            <fieldset class="col-auto">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" name="name" value="<%=recipe.name%>">
            </fieldset>
            <fieldset class="col-auto">
                <label for="cuisine">Cuisine: </label>
                <input type="text" class="form-control" id="cuisine" name="cuisine" value="<%=recipe.cuisine%>">
            </fieldset>
            <fieldset class="col-auto">
                <label for="servingSize">Serving Size: </label>
                <input type="text" class="form-control" id="servingSize" name="servingSize" value="<%=recipe.servingSize%>">
            </fieldset>
        </section> <br>
        <p><strong>Add/Remove Ingredients: </strong><button class="btn btn-outline-success btn-sm" type="button" onclick="addIngredientListForm()"> + </button> 
        <button class="btn btn-outline-danger btn-sm" type="button" onclick="removeIngredientListForm(); return false;"> - </button> </p>
        <section id="ingredient-list" >
        <% for(let i = 0; i < ingredientList.length; i++) { %>
            <article>
                <section class="form-group row">
                    <fieldset class="col">
                        <label for="ingredient"> </label>
                        <input type="text" class="form-control" id="ingredient" name="ingredient" value="<%=ingredientList[i].ingredient%>">
                    </fieldset>
                    <fieldset class="col-sm-2">
                        <label for="measurement"></label>
                        <input type="text" class="form-control" id="measurement" name="measurement" value="<%=ingredientList[i].measurement%>">
                    </fieldset>
                    <fieldset class="col-sm-auto">
                        <label for="measurementType"></label>
                        <select class="custom-select form-control custom-select-sm" name="measurementType" id="measurementType">
                            <option selected><%=ingredientList[i].measurementType%></option>
                            <% let options = ['cup', 
                            'grams', 
                            'lbs', 
                            'mL', 
                            'ounce', 
                            'piece', 
                            'tablespoon', 
                            'teaspoon', 
                            'other']
                                for(elem of options) { %>
                                    <option value="<%= elem %>"><%= elem %></option>
                                <% } %>
                        </select>
                    </fieldset>
                </section>
            </article>
            <% }%>
        </section>
        <br>
        <section class="form-group">
            <fieldset class="col-auto">
                <label for="img">Image Link: </label>
                <input type="text" class="form-control" id="img" name="img" value="<%=recipe.img%>">
            </fieldset>
            <br>
            <fieldset class="col-auto">
                <label for="urlLink">Recipe Link: </label>
                <input type="text" class="form-control" id="urlLink" name="urlLink" value="<%=recipe.urlLink%>">
            </fieldset>
            <br>
            <fieldset class="col-auto">
                <label for="youtubeLink">Youtube Link: </label>
                <input type="text" class="form-control" id="youtubeLink" name="youtubeLink" value="<%=recipe.youtubeLink%>">
            </fieldset>
        </section>
        <br>
        <p><strong>Add/Remove Directions: </strong><button class="btn btn-outline-success btn-sm" type="button" onclick="addDirectionForm()"> + </button>
        <button class="btn btn-outline-danger btn-sm" type="button" onclick="removeDirectionForm(); return false;"> - </button> </p>
            <section id="direction-list" >
            <% for(elem of recipe.directions){ %>
                <fieldset>
                    <label for="directions">Directions: </label>
                    <textarea type="text" class="form-control" id="directions" name="directions" ><%= elem %></textarea> 
                </fieldset>
            <% }%>
            </section>
            <br>
            <fieldset class="col-auto">
                <label for="notes">Notes: </label>
                <textarea type="text" class="form-control" id="notes" name="notes"><%=recipe.notes%></textarea></textarea> 
            </fieldset>
        <br><br>
        <input type="submit" class="btn btn-primary" value="Edit Recipe" >
    
    </form>
<%- include('./partials/footer.ejs')%>