<%- include('./partials/header.ejs')%>
    <h1>All Inventory</h1>
    <ul>
    <% for(let i =0; i<inventory.length; i++){ %>
        <li>
            Ingredient Name: <a href="/inventory/<%= inventory[i].id %>/edit"><%= inventory[i].invIngredient %></a> <br>
            Category: <%= inventory[i].category %>
        </li>
    <% } %>
</ul>
<a href="/inventory/new"><button class="btn btn-primary">+ New Inventory</button></a>
<%- include('./partials/footer.ejs')%>