<%- include('./partials/header.ejs')%>
    <h1>Available Recipes</h1>
    <article class="dropdown d-flex justify-content-end">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          All Recipes
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/recipes">All Recipes</a></li>
          <li><a class="dropdown-item" href="/recipes/match">Kitchen-Ready Recipes</a></li>
          <li><a class="dropdown-item" href="/recipes/approxmatch">Kitchen-(Almost)-Ready Recipes</a></li>
        </ul>
      </article>
    <ul>
    <% for(let i =0; i<recipes.length; i++){ %>
        <li>
            Name: <a href="/recipes/<%= recipes[i].id %>"><%= recipes[i].name %></a> <br>
            Cuisine: <%= recipes[i].cuisine %> <br>
            Notes: <%= recipes[i].notes %> <br>
        </li>
    <% } %>
</ul>
<br><br>
<a href="/recipes/new"><button class="btn btn-primary">+ New Recipe</button></a>
<%- include('./partials/footer.ejs')%>