<%- include('./partials/header.ejs')%>
    <h1><%= item.invIngredient %></h1>
    <ul>
        <li>
            Ingredient Name: <%= item.invIngredient %> <br>
            Category: <%= item.category %>
        </li>
</ul>
<section class="row">
    <article class="col-auto">
        <a href="/inventory/<%=item.id%>/edit"><button class="btn btn-primary">Edit Item</button></a>
    </article>
    <article class="col-auto">
        <form action="/inventory/<%=item.id%>?_method=DELETE" method="POST">
            <input class="btn btn-primary" type="submit" value="Delete Item">
        </form>
    </article>
</section>
</body>
</html>