<%- include('./partials/header.ejs')%>
    <h1><%= recipe.name %></h1>
    <section class="background-overlay">
    <% if(recipe.img){ %>
        <img class="recipe-img" src="<%=recipe.img%>"" alt="<%=recipe.name%> image">
        <%}else{%>
            <img class="recipe-img" src="/images/genericfood.jpeg"" alt="generic food image">
        <%}%>

    
    <dl class="row">
        <dt class="col-sm-3">Cuisine</dt>
        <dd class="col-sm-9"> <%= recipe.cuisine %></dd>
        <dt class="col-sm-3">Serving Size</dt>
        <dd class="col-sm-9"> <%= recipe.servingSize %></dd>
        <dt class="col-sm-3">Ingredients</dt>
        <article class="ingredient">

            <% for(elem of recipe.ingredientList){ %>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-1"></dt>
                        <dd class="col-sm-8"><%= elem.measurement %> <%= elem.measurementType %> <%= elem.ingredient %></dd>
                        </dl>
                </dd>
            <% }%>
        </article>
        <%if(recipe.urlLink){ %>
            <dt class="col-sm-3">Recipe Link</dt>
            <dd class="col-sm-9"> <a href="<%= recipe.urlLink %>" target="_blank"><%= recipe.urlLink %></a></dd>
        <% }%>
        <dt class="col-sm-3">Directions</dt>
            <% for(let i = 0; i< recipe.directions.length; i++){ %>
                <dl class="row">
                    <dt class="col-sm-1"><%= i+1 %> </dt>
                    <dd class="col-md"><%= recipe.directions[i] %></dd>
                </dl>
            <% }%>
        <dt class="col-sm-3">Notes</dt>
        <dd class="col-sm-9"> <%= recipe.notes %></dd>
    </dl>
        
<% if(recipe.youtubeLink){ %>
    <article class="d-flex justify-content-center embed-responsive embed-responsive-16by9">
        <% let str = recipe.youtubeLink.split(/[/=]/)%>
         
        <iframe class="embed-responsive-item" 
        src="https://www.youtube.com/embed/<%=str[str.length-1]%>" allowfullscreen>
        </iframe>
    </article>
<% }%>
</section>

<br><br>
<section class="row">
    <article class="col-auto">
        <a href="/recipes/<%=recipe.id%>/edit"><button class="btn btn-primary">Edit Recipe</button></a>
    </article>
    <article class="col-auto ">
        <form class="delete-recipe-btn" action="/recipes/<%=recipe.id%>?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete Recipe">
        </form>
    </article>
</section>
<%- include('./partials/footer.ejs')%>